/* path:hover
  {
    opacity: 0.5;
  }
*/
path {
  stroke:white;
  stroke-width: .5px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #222;
  color: #fff;
}

h1{
  color: #fff;
  
}


div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 150px;                  
  height: 35px;                 
  padding: 6px 2px;             
  font-size: 12px;     
  background: #FFF;
  border: 1px solid #ccc;      
  border-radius: 5px;           
  pointer-events: none;
  color: #000;         
}    

canvas{
    visibility: hidden;
}

    .button{
        padding:.5rem 1rem 0.56rem;
    }

    #refresh{
        margin-right: 10px;
    }

p{
  color: #000;
}

li {
  color: #000;
}


#states{
   border: 1;
   padding:0px;
   float: right;
}

#states td, #states td input  {
  height: 100%;
  font-size: 12px;
  padding: 0px;
  margin: 0px;
}
